.meta{
    color: black;
    box-shadow: black;
    display: block;
    padding: 10px;
    border: 1px solid black;
    margin-right: 5px;
}

.randomThoughts{
    font-family: Alegreya, serif;
    color:#6a6c60;
    line-height:1.8;
}