.logo {
  display: flex;
  justify-content: center;
  float: inherit;
  text-align: center;
  background-color: #171717;
}

.social {
  display: flex;
  justify-content: center;
  float: inherit;
  text-align: center;
  background-color: #171717;
}